<link rel="import"
      href="../bower_components/polymer/polymer.html">

<link rel="import" href="modal.html">


<dom-module id="alcf-modals">
 

  <template>
  
<!--------------------------------------------------------
//
// CONNECT:
//   Local Outreach
//
--------------------------------------------------------->  

<!-- Homeless ------------------------------------------->  
<!------------------------------------------------------->  
  
     <div class="modal fade" id="homeless" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header" style="background-image: url('../assets/images/modal_ELO_homeless_dpc.jpg'); background-position: center center; background-size: cover; height: 200px; ">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

             <h2>Homeless</h2>
           </div>
           <div class="modal-body">
             <div class="row">
               <div class="col-md-5 col-lg-5">
				  <h3>Ways to Serve</h3>
			      <ul>
			        <li>Preparing and serving food</li>
			        <li>Distributing toiletries and clothing (<a href="#">donation information</a>)</li>
			        <li>Organizing street and shelter activities throughout the year</li>
			        <li>Collecting and praying over written prayer requests monthly</li>
			        <li>Assisting with transportation to monthly events</li>
			      </ul>
			      
			      <br><br>
			      <a href="#">Local Homeless Organization Service Opportunities</a>

			      
				</div>
			
   	            <div class="col-md-7 col-lg-7">
 			    	<!--
 			    	<iframe width="500px" height="300px" src="https://www.youtube.com/embed/sm-NjYuEKus" frameborder="0" allowfullscreen></iframe>	
 			    	-->          
			        
			      <h3>Contact Information</h3>
			      <p>
			        <strong>Rosemarie Nola</strong><br>
			          <a href="#">homelessministry@alcf.net</a>
			      </p>

	            </div>
             </div>		        
          </div>
        </div>
      </div>
    </div>



<!-- Prison --------------------------------------------->  
<!------------------------------------------------------->  

     <div class="modal fade" id="prison" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header" style="background-image: url('../assets/images/modal_ELO_prison_dpc.jpg'); background-position: center center; background-size: cover; height: 200px; ">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

             <h2>Prison and AfterCare</h2>
           </div>
           <div class="modal-body">
             <div class="row">
               <div class="col-md-5 col-lg-5">
				  <h3>We Partner With</h3>
			      <ul>
			        <li>Alameda County</li>
			        <li>San Mateo County</li>
			        <li>Santa Clara County</li>
			        <li>Solano State Prison</li>
			      </ul>
			
			      <br><br>

				  <h3>Ways to Serve</h3>
			      <ul>
			        <li>Leading monthly services and Bible studies</li>
			        <li>Building relationships through prayer and fellowship</li>
			        <li>Exhorting, equipping and providing assistance to inmates</li>
			      </ul>
			        
				</div>
			
   	            <div class="col-md-7 col-lg-7">
 			      
 			      <h3>AfterCare</h3>
			      <p>
ALCF’s AfterCare Ministry strives to influence the condition in which men, women and youth—with incarceration in their background—return to our communities through practical support and mentoring. The goal is to assist those scheduled to return with support mechanisms (e.g. housing referrals, employment preparation, etc.) needed to successfully transition, while at the same time provide one-to-one mentoring that provides continual support in order to prevent recidivism. <br>

We partner with:<br>
San Francisco Boys Camp<br>
Seventh Steps Re-Entry Home
<br><br>

			      </p>
 			      
 			      <br><br>
 			      <h3>Contact Information</h3>
			      <p>
			        <strong>Cheryl Degree</strong><br>
			          <a href="#">outreach@alcf.net</a>
			      </p>          
	            </div>
             </div>		        
          </div>
        </div>
      </div>
    </div>



<!-- Elder Care ----------------------------------------->  
<!------------------------------------------------------->  

     <div class="modal fade" id="elder-care" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header" style="background-image: url('../assets/images/modal_ELO_ElderCare_isp.jpg'); background-position: center center; background-size: cover; height: 200px; ">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

             <h2>ElderCare</h2>
           </div>
           <div class="modal-body">
             <div class="row">
               <div class="col-md-5 col-lg-5">

                  <p>Training requirements vary based on your chosen role and facility site.</p><br>
				  <h3>We Partner With</h3>
			      <ul>
					<li>Los Altos Sub-Acute Care</li>
					<li>Lytton Gardens</li>
					<li>Sunrise, Palo Alto</li>
			      </ul>
			
			      <br><br>

				  <h3>Ways to Serve</h3>
			      <ul>
					<li>Leading monthly worship services and Bible studies</li>
					<li>Building relationships through prayer and visitation</li>
					<li>Supporting senior care staff during program activities and events</li>
					<li>Running errands for patients</li>
					<li>Sharing a special talent of skill</li>
			      </ul>
			        
				</div>
			
   	            <div class="col-md-7 col-lg-7">
 			      <h3>Contact Information</h3>
			      <p>
			        <strong>Cheryl Degree</strong><br>
			          <a href="#">outreach@alcf.net</a>
			      </p>         
	            </div>
             </div>		        
          </div>
        </div>
      </div>
    </div>



<!-- Jobs ----------------------------------------------->  
<!------------------------------------------------------->  

     <div class="modal fade" id="jobs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header" style="background-image: url('../assets/images/modal_ELO_JOBS_dpc.jpg'); background-position: center center; background-size: cover; height: 200px; ">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

             <h2>Jobs</h2>
           </div>
           <div class="modal-body">
             <div class="row">
               <div class="col-md-5 col-lg-5">


                  <p>JOBS Ministry is NOT designed to provide job placement, but we do offer courses, employment preparation services and guidance, as follows:</p><br>
				  <h3>Vocational Training Courses</h3>
			      <ul>
					<li>Construction Technology Phase I</li>
                    <li>Entrepreneurship</li>
                    <li>Electrical Wiring Phases I & II</li>
                    <li>Heating, Ventilating and Air Conditioning Phases I & II</li>
			      </ul>
			      
			      <br>
			      <p>For detailed course descriptions and registration, <a href="#">click here.</a></p>
			
				  
			        
				</div>
			
   	            <div class="col-md-7 col-lg-7">

                  <h3>Employment Preparation</h3>
			      <ul>
					<li>Employment and career exploration</li>
                    <li>Interpersonal skills training</li>
                    <li>Resume, cover letter, and thank you letter development</li>
                    <li>Job search skills</li>
                    <li>Informational and interviewing skills</li>
                    <li>Vocational training</li>
                    <li>Job coaching</li>
                    <li>Referrals to community resources</li>
			      </ul>
			      
			      <br><br>
			      <p>To find out more about how to access our services, or to serve in this ministry, contact Cheryl Degree.</p>
			      
			      <br><br>
			      
 			      <h3>Contact Information</h3>
			      <p>
			        <strong>Cheryl Degree</strong><br>
			          <a href="#">JOBSministry@alcf.net</a>
			      </p>         
	            </div>
             </div>		        
          </div>
        </div>
      </div>
    </div>



<!-- Kids Club ------------------------------------------>  
<!------------------------------------------------------->  

     <div class="modal fade" id="kids-club" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header" style="background-image: url('../assets/images/modal_ELO_KidsClub_tmf.jpg'); background-position: center center; background-size: cover; height: 200px; ">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

             <h2>Kids Club</h2>
           </div>
           <div class="modal-body">
             <div class="row">
               <div class="col-md-5 col-lg-5">

				  <h3>Program Aspects</h3>
			      <ul>
					<li>Placing Kindergarten through 5th grade students in small groups (4–6) with one leader where God's love is expressed and close mentoring relationships are built</li>
					
                    <li>Teaching Bible-based lessons, games, crafts and academic enrichment activities that are age-level appropriate</li>
                     
                    <li>Helping children develop strong moral and spiritual values</li>
                    <li>Creating an environment where children can ask questions and share opinions freely in order to discover the truth of God's Word for themselves</li>
                    <li>Engaging in physical exercise through playground activities and sports for older boys</li> 
                    <li>Spending time in praise and worship</li> 
			      </ul>
			      
			      <br><br>
			     
				  <h3>Ways to Serve</h3>
			      <ul>
					<li>Serve as a Small Group Leader or Helper (Wednesdays: 2–3 hours per week)</li>
                    <li>Coach sports activities for 3rd–5th grade boys (Wednesdays: 1–2 hours per week)</li>  
                    <li>Help assemble lesson packets and snack bags (Mondays: 7–9:30PM)</li> 
			      </ul>
                  <small>*Throughout the academic calendar year</small>
				  
			        
				</div>
			
   	            <div class="col-md-7 col-lg-7">

                  <p>Become part of a team that is impacting young lives for time and eternity!</p>

                  <iframe width="400" height="260" src="https://www.youtube.com/embed/u3MlkrzNeFg?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
                  
                  <br><br>

     			  <h3>Contact Information</h3>
			      <p>
			        <strong>Rosemarie Nola</strong><br>
			          <a href="#">kidsclub@alcf.net</a>
			      </p>         
	            </div>
             </div>		        
          </div>
        </div>
      </div>
    </div>



<!-- InspireU ------------------------------------------->  
<!------------------------------------------------------->  

     <div class="modal fade" id="inspire-u" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header" style="background-image: url('../assets/images/modal_ELO_InspireU_dpc.jpg'); background-position: center center; background-size: cover; height: 200px; ">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

             <h2>InspireU</h2>
           </div>
           <div class="modal-body">
             <div class="row">
               <div class="col-md-5 col-lg-5">


				  <h3>Program Aspects</h3>
			      <ul>
					<li><strong>After School Academic Tutoring:</strong> College students and adults provide homework assistance and foster academic accountability to ensure students are also succeeding in the classroom.</li> 

                    <li><strong>180 Program Life Skills Class:</strong> Helps youth develop life skills by learning and incorporating the core values of character, such as empathy, respect, responsibility and integrity into:<br>

<ul>
  <li>Setting and achieving goals</li>
  <li>Identifying and dealing with peer pressure</li>
  <li>Being courageous</li>
  <li>Regulating their emotions</li>
  <li>Resolving conflict</li>
  <li>Thinking critically</li>
</ul></li>

                   <li><strong>Year-Round, Sports Development Camps:</strong>—Coed Flag Football (fall) and Basketball (spring and summer): Through practices and skill development exercises, we create a classroom where students emphasize hard work, faith and discipline—the fundamental building blocks for personal success.</li>

                   <li><strong>Amateur Athletic Association (AAU) Traveling Basketball Teams:</strong> Who compete Bay Area wide as they seek to win a bid to compete in the Los Angeles and/or Las Vegas national tournaments.</li>

			      </ul>
			      
			     
          		  
			        
				</div>
			
   	            <div class="col-md-7 col-lg-7">

				  <h3>Ways to Serve</h3>
			      <ul>
					<li>Small Group leader for 180 Program Life Skills Class</li>
                    <li>After School Academic Tutor</li>   
                    <li>Assistant Coach for AAU Traveling Basketball team</li>
			      </ul>
                  
                  <br><br>

     			  <h3>Contact Information</h3>
			      <p>
			        <strong>Emanual Swan</strong><br>
			          <a href="#">Inspireu@alcf.net</a>
			      </p>         
	            </div>
             </div>		        
          </div>
        </div>
      </div>
    </div>



<!-- Operation Intercession ----------------------------->  
<!------------------------------------------------------->  

     <div class="modal fade" id="op-int" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header" style="background-image: url('../assets/images/modal_ELO_OptInt_isp.jpg'); background-position: center center; background-size: cover; height: 200px; ">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

             <h2>Operation Intercession</h2>
           </div>
           <div class="modal-body">
             <div class="row">
               <div class="col-md-5 col-lg-5">
<!--


Ways to Serve:

Contact: 

-->
                  <p>We express our love, appreciation and support in several other ways:</p>

				  <h3>Program Aspects</h3>
			      <ul>
					<li>
Letter writing: OI organizes an ongoing letter-writing campaign with children from several local elementary schools and students from Stanford University to active duty military personnel serving abroad.</li>
 
                     <li>8@8 Dinner Event: OI sponsors an annual dinner for active duty military personnel/veterans and/or their families at a local restaurant.</li>

                     <li>Hospital visits: OI visits veterans hospitalized at local VAs to pray and encourage veterans.</li>
                     
                     <li>Fall BBQ Event: OI sponsors a barbeque event with entertainment at a local VA for active duty military personnel/veterans.</li>

                     <li>Adopt-A-Chaplain: OI mails annual holiday care packages to chaplains serving abroad for distribution to active duty military.</li>

			      </ul>
			      
			     
          		  
			        
				</div>
			
   	            <div class="col-md-7 col-lg-7">

				  <h3>Ways to Serve</h3>
			      <ul>
                    <li>Participate in  annual care package collection, sorting, assembly and packaging</li>
                    <li>Visit veterans at local VAs</li>
                    <li>Assist with transporting, set/clean up of food, supplies and equipment for fall BBQ event</li>

			      </ul>

<p>Join Operation Intercession for prayer and event planning at quarterly meetings on
first Wednesdays at 7PM.
</p>
                  
                  <br><br>

     			  <h3>Contact Information</h3>
			      <p>
			        <strong>Sister Geraldine Hill</strong><br>
			          650.625.1500, x209<br>
			          <a href="#">prayer-visitation@alcf.net</a>
			      </p>         
	            </div>
             </div>		        
          </div>
        </div>
      </div>
    </div>



<!--------------------------------------------------------
//
// CONNECT:
//   Community Involvement
//
--------------------------------------------------------->  

<!-- Bayshore ------------------------------------------->  
<!------------------------------------------------------->  
  
     <div class="modal fade" id="bayshore" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header" style="background-image: url('../assets/images/modal_CP_BCM.jpg'); background-position: center center; background-size: cover; height: 200px; ">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

             <h2>Bayshore Christian Ministries</h2>
           </div>
           <div class="modal-body">
             <div class="row">
               <div class="col-md-5 col-lg-5">


				  <h3>Ways to Serve</h3>
			      <ul>
                    <li>Become an after school reading and academic tutor</li>
                    <li>Assist with weekly gatherings for middle and high school students</li>
                    <li>Co-lead or assist with Bible Clubs for elementary aged kids</li>
                    <li>Teach interest-based workshops (e.g. Dance, Drama, Visual Arts, Voice Training, Life Skills)</li>
                    <li>Assist with Summer activities including Vacation Bible School, Tech & Arts Camp or serving lunches</li>
                    <li>Provide assistance with IT, Graphic Design, Web Design or Video Production projects</li>
                    <li>Participate as a College Intern</li>
			      </ul>
			      
			      <br><br>

			      
				</div>
			
   	            <div class="col-md-7 col-lg-7">
 			    	<!--
 			    	<iframe width="500px" height="300px" src="https://www.youtube.com/embed/sm-NjYuEKus" frameborder="0" allowfullscreen></iframe>	
 			    	-->          
			        
			      <h3>Contact Information</h3>
			      <p>
			        <strong>Rosemarie Nola</strong><br>
			          <a href="#">CommunityInvolvement@alcf.net</a>
			      </p>

			      <p>
			        <strong>Holly Meyer</strong><br>
			          Volunteer Coordinator<br>
			          650.327.9941<br>
			          <a href="www.bayshore.org">www.bayshore.org</a><br>
			          <a href="#">volunteer@bayshore.org</a>
			      </p>


	            </div>
             </div>		        
          </div>
        </div>
      </div>
    </div>



<!-- Freedom House -------------------------------------->  
<!------------------------------------------------------->  
  
     <div class="modal fade" id="freedom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header" style="background-image: url('../assets/images/modal_CP_FreedomHouse_logo.jpg'); background-position: center center; background-size: cover; height: 200px; ">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

             <h2>Freedom House</h2>
           </div>
           <div class="modal-body">
             <div class="row">
               <div class="col-md-5 col-lg-5">


				  <h3>Ways to Serve</h3>
			      <ul>
                    <li>Support a resident’s care needs</li>
                    <li>Assist with house activities, classes, field trips or transportation</li>
                    <li>Provide language translation assistance to residents</li>
                    <li>Tutor youth residing at The Nest in academic subjects</li>
                    <li>Represent FH at various events as a trained Advocate Volunteer</li>
                    <li>Pray for residents and specific ministry needs</li>
                    <li>Donate your professional services (e.g. dermatologists, dentists, therapists, fitness trainers)</li>
                    <li>Coordinate awareness or fundraising events</li>
                    <li>Write grants</li>
                    <li>Provide media relations</li>
                    <li>Design graphics</li>
			      </ul>
			      
			      <br><br>

			      
				</div>
			
   	            <div class="col-md-7 col-lg-7">
 			    	<!--
 			    	<iframe width="500px" height="300px" src="https://www.youtube.com/embed/sm-NjYuEKus" frameborder="0" allowfullscreen></iframe>	
 			    	-->          
			        
			      <h3>Contact Information</h3>
			      <p>
			        <strong>Rosemarie Nola</strong><br>
			          <a href="#">CommunityInvolvement@alcf.net</a>
			      </p>

			      <p>
			        <strong>Tina Beauchamp</strong><br>
			          Operations Director<br>
			          650.488.0831<br>
			          <a href="www.freedomhousesf.org">www.freedomhousesf.org</a><br>
			          <a href="#">tina@freedomhousesf.org</a>
			      </p>


	            </div>
             </div>		        
          </div>
        </div>
      </div>
    </div>



<!-- Joni & Friends ------------------------------------->  
<!------------------------------------------------------->  
  
     <div class="modal fade" id="joni" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header" style="background-image: url('../assets/images/modal_CP_JAF.jpg'); background-position: center center; background-size: cover; height: 200px; ">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

             <h2>Joni &amp; Friends</h2>
           </div>
           <div class="modal-body">
             <div class="row">
               <div class="col-md-12 col-lg-12">
<p><strong>Joni Eareckson Tada's Visit to ALCF</strong> 
Having endured the tragedy of a diving accident that left her paralyzed at the age of 17, as well as having recently won the battle over breast cancer, Joni Eareckson Tada imparted words of encouragement to those who are suffering or in pain, and shared ways that the faith community can embrace individuals affected by disability with the love of Jesus Christ.</p>

<p>Joni has authored 48 books; received numerous awards; spoken internationally, including on TV and radio programs; has her own radio program that airs daily; and is known for her fine art paintings done with a brush held between her teeth. Her best-selling autobiography was made into a feature film with the same name which has been translated into many languages.</p>

               </div>
             </div>
             
             <div class="row">
             
             
               <div class="col-md-5 col-lg-5">

				  <h3>Ways to Serve</h3>
			      <ul>
                    <li>Become a buddy to a disabled person and their family at a one-week Family Retreat</li>
                    <li>Volunteer at respite events hosted at various churches in the Bay Area</li> 
                    <li>Serve alongside of JAF's staff members, helping to train other church leaders and members on how to start disability ministries and respite events</li> 
			      </ul>
			      
			      <br><br>

			      
				</div>
			
   	            <div class="col-md-7 col-lg-7">
 			    	
 			    	 <iframe width="500" height="300" src="https://www.youtube.com/embed/Pf6MFC5VPk8" frameborder="0" allowfullscreen></iframe>
 			    	 
 			      <br><br>
			        
			      <h3>Contact Information</h3>
			      <p>
			        <strong>Rosemarie Nola</strong><br>
			          <a href="#">CommunityInvolvement@alcf.net</a>
			      </p>

			      <p>
			        <strong>Debbie Lillo</strong><br>
			          Church Relations Coordinator<br>
			          408.252.4160<br>
			          <a href="http://bayarea.joniandfriends.org">bayarea.joniandfriends.org</a><br>
			          <a href="#">dlillo@joniandfriends.org</a>
			      </p>


	            </div>
             </div>		        
          </div>
        </div>
      </div>
    </div>



<!-- Compassion Network --------------------------------->  
<!------------------------------------------------------->  
  
     <div class="modal fade" id="compassion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header" style="background-image: url('../assets/images/modal_CP_CN.jpg'); background-position: center center; background-size: cover; height: 200px; ">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

             <h2>Compassion Network</h2>
           </div>
           <div class="modal-body">
             <div class="row">
             
             
               <div class="col-md-5 col-lg-5">

				  <h3>Ways to Serve</h3>
			      <ul>
                    <li>Help with home maintenance and yard work</li>
                    <li>Provide language translation assistance in Spanish, Mandarin, Vietnamese, Farsi, Korean or in American Sign Language</li>
                    <li>Offer transportation assistance to the elderly</li>
                    <li>Tutor youth</li> 
                    <li>Assist with vehicle repairs</li>
                    <li>Serve in the office with administration and event planning</li>
                    <li>Contribute your skills in graphic design and website development</li>
			      </ul>

			      
				</div>
			
   	            <div class="col-md-7 col-lg-7">
			      
			      <p>
Each day, numerous requests come in from individuals in need of assistance. To find out how you can meet the felt needs of others and participate in upcoming community service or holiday projects, <a href="http://www.alcf.net/uploads/Eblast_7_2_14.pdf">click here</a> for the current week’s listing of volunteer and donation opportunities.				      
			      </p>
 			    	 
 			      <br><br>
			        
			      <h3>Contact Information</h3>
			      <p>
			        <strong>Rosemarie Nola</strong><br>
			          <a href="#">CommunityInvolvement@alcf.net</a>
			      </p>

			      <p>
			        <strong>Christine Beitsch</strong><br>
			          Executive Director<br>
			          510.796.7378<br>
			          <a href="http://compassionnetwork.org">www.compassionnetwork.org</a><br>
			          <a href="#">christine@cityserve.org</a>
			      </p>


	            </div>
             </div>		        
          </div>
        </div>
      </div>
    </div>



<!-- New Creation Home Ministries ----------------------->  
<!------------------------------------------------------->  
  
     <div class="modal fade" id="new-creation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header" style="background-image: url('../assets/images/modal_CP_NCHM.jpg'); background-position: center center; background-size: cover; height: 200px; ">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

             <h2>New Creation Home Ministries</h2>
           </div>
           <div class="modal-body">
             <div class="row">
             
             
               <div class="col-md-5 col-lg-5">

				  <h3>Ways to Serve</h3>
			      <ul>
                    <li>Help provide child care</li>
                    <li>Assist with home supervision</li>
                    <li>Provide dinner for a parenting class</li>
                    <li>Teach a parenting or life skills class</li>
                    <li>Be a tutor or mentor mom</li>
                    <li>Provide transportation</li>
                    <li>Yard work, house maintenance or car repairs</li>
			      </ul>

			      
				</div>
			
   	            <div class="col-md-7 col-lg-7">
			      <iframe width="500" height="300" src="https://www.youtube.com/embed/sm-NjYuEKus?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
 			    	 
 			      <br><br>
			        
			      <h3>Contact Information</h3>
			      <p>
			        <strong>Rosemarie Nola</strong><br>
			          <a href="#">CommunityInvolvement@alcf.net</a>
			      </p>

			      <p>
			        <strong>Joyce del Rosario</strong><br>
			          Executive Director<br>
			          650.321.3109<br>
			          <a href="http://newcreationhome.org">www.newcreationhome.org</a><br>
			          <a href="#">joyce@newcreationhome.org</a>
			      </p>


	            </div>
             </div>		        
          </div>
        </div>
      </div>
    </div>



<!-- Ravenswood Youth Athletic Association -------------->  
<!------------------------------------------------------->  
  
     <div class="modal fade" id="ravenswood" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header" style="background-image: url('../assets/images/modal_CP_RYAA.jpg'); background-position: center center; background-size: cover; height: 200px; ">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

             <h2>Ravenswood Youth Athletic Association</h2>
           </div>
           <div class="modal-body">
             <div class="row">
             
             
               <div class="col-md-5 col-lg-5">

				  <h3>Ways to Serve</h3>
			      <ul>
                    <li>Coach or referee soccer</li>  
                    <li>Teach tennis lessons</li>  
                    <li>Lead a Bible Club</li>
                    <li>Be a photographer or videographer at games or other activities</li>
                    <li>Assist with Summer Camp activities</li>
                    <li>Help with field maintenance and other projects as needed</li>
                    <li>Adopt-A-Team by bringing snacks, cheering on the team at games, and/or taking kids out for pizza</li>
			      </ul>

			      
				</div>
			
   	            <div class="col-md-7 col-lg-7">
			      <iframe width="500" height="300" src="https://www.youtube.com/embed/Y1pnMiXUFto?feature=player_embedded"  frameborder="0" allowfullscreen></iframe>
 			    	 
 			      <br><br>
			        
			      <h3>Contact Information</h3>
			      <p>
			        <strong>Rosemarie Nola</strong><br>
			          <a href="#">CommunityInvolvement@alcf.net</a>
			      </p>

			      <p>
			        <strong>Shannon Pekary</strong><br>
			          Executive Director<br>
			          650.248.0488<br>
			          <a href="http://ryaa.org">www.ryaa.org</a><br>
			          <a href="#">shannon@ryaa.org</a>
			      </p>


	            </div>
             </div>		        
          </div>
        </div>
      </div>
    </div>



<!-- Real Options --------------------------------------->  
<!------------------------------------------------------->  
  
     <div class="modal fade" id="real-options" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header" style="background-image: url('../assets/images/modal_CP_RealOptions.jpg'); background-position: center center; background-size: cover; height: 200px; ">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

             <h2>Real Options</h2>
           </div>
           <div class="modal-body">
             <div class="row">
             
             
               <div class="col-md-5 col-lg-5">

				  <h3>Ways to Serve</h3>
			      <ul>
                    <li>Become a Client Advocate</li>
                    <li>Help with Medical Clinic</li>
                    <li>Provide Practical Support Assistance</li>
                    <li>Contribute as an Educator or Facilitator</li>
                    <li>Assist with Reception Area</li>
                    <li>Serve in Office Administration</li>
                    <li>Volunteer for Special Events</li>
                    <li>Become a Church Ambassador</li>
			      </ul>
			      <br><br>
			      <p>For a more detailed description of volunteer opportunities, please <a href="http://www.friendsofrealoptions.net/support/involved/volunteer.php">click here</a>
</p>

			      
				</div>
			
   	            <div class="col-md-7 col-lg-7">
			      <iframe width="500" height="300" src="https://www.youtube.com/embed/oW4ettpkt-I?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
 			    	 
 			      <br><br>
			        
			      <h3>Contact Information</h3>

			      <p>
			        <strong>Cecilia Bynum</strong><br>
			          Church Ambassador Liaison<br>
			          408.229.9836,  x22<br>
			          <a href="http://friendsofrealoptions.net">www.friendsofrealoptions.net</a><br>
			          <a href="#">cecilia@realoptions.net</a>
			      </p>


	            </div>
             </div>		        
          </div>
        </div>
      </div>
    </div>



<!--------------------------------------------------------
//
// CONNECT:
//   Global Partnerships
//
--------------------------------------------------------->  

<!-- Chandra Chap -------------------------------------->  
<!------------------------------------------------------->  
  
     <div class="modal fade" id="chandra" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header" style="background-image: url('../assets/images/modal_IP_cchap_dpc.jpg'); background-position: center center; background-size: cover; height: 200px; ">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

             <h2>Chandra Chap</h2>
           </div>
           <div class="modal-body">
             <div class="row">
               <div class="col-md-12 col-lg-12">
	              <p>Cambodia is a war-ravaged country. When the Khmer Rouge took power in 1975, 80% of its believers were martyred in Pol Pot’s killing fields by the end of 1979. Today, Christians in Cambodia number less than 2% of the population.</p>

<p>Chandra Chap, a native Cambodian, is the Director of Pleroma Home for Girls. They exist to create a safe haven for girls under 18, who have been victims—or are at high risk for being victims—of human trafficking. They are nurtured holistically to realize their full potential as God’s precious daughters with His glorious image restored in them. Chandra’s work includes counseling girls, overseeing and training dorm moms, teachers, social workers, and counselors, travelling several times per month to distant provinces for court days and family follow up, as well as networking with providers throughout Cambodia.</p>

<p>For more information and to give, <a href="http://ficfellowship.org/PleromaHome-e.html">click here</a>.</p>

<br><br>

			      <h3>Contact Information</h3>

			      <p>
			        <strong>Carisa Cruz</strong><br>
			          <a href="#">gmt@alcf.net</a>
			      </p>
               </div>
			
             </div>		        
          </div>
        </div>
      </div>
    </div>



<!-- John Gibbs ----------------------------------------->  
<!------------------------------------------------------->  
  
     <div class="modal fade" id="gibbs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header" style="background-image: url('../assets/images/modal_IP_jgibbs_dpc.jpg'); background-position: center center; background-size: cover; height: 200px; ">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

             <h2>John Gibbs</h2>
           </div>
           <div class="modal-body">
             <div class="row">
               <div class="col-md-12 col-lg-12">
	              <p>Japan is a country where no more than 2% of the population is Christian. Differing worldviews, the influence of nationalistic Shintoism, socio-economic life and the rise in new religions have hindered the spread of the gospel in Japan. The Japanese are also highly tech-savvy, using smart phones and mobile phones extensively every day and are among the most prolific bloggers and social networking users in the world.</p>

<p>John Gibbs, a Stanford graduate and former Apple employee, is helping equip churches with high-tech evangelism and outreach in the hopes of reaching many Japanese through these mediums. John is currently working with Japanese Christians to develop a mobile phone Japanese Anime version of the Bible to spread the Gospel among the technology-savvy people of Japan.</p>

<p>For more information and to give, <a href="https://www.worldventure.com/explore/details-people.php?name=john-gibbs&id=a5OF00000004J8KMAU">click here</a>. </p>

<br><br>

			      <h3>Contact Information</h3>

			      <p>
			        <strong>Carisa Cruz</strong><br>
			          <a href="#">gmt@alcf.net</a>
			      </p>
               </div>
			
             </div>		        
          </div>
        </div>
      </div>
    </div>



<!-- Bri Sample ----------------------------------------->  
<!------------------------------------------------------->  
  
     <div class="modal fade" id="bri-sample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header" style="background-image: url('../assets/images/modal_IP_bsample_dpc.jpg'); background-position: center center; background-size: cover; height: 200px; ">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

             <h2>Bri Sample</h2>
           </div>
           <div class="modal-body">
             <div class="row">
               <div class="col-md-12 col-lg-12">
	              <p>On March 11, 2011 a magnitude 9 earthquake hit northeastern Japan resulting in a devastating tsunami that killed over 15,000 people. More than 2,500 people are still missing, over 340,000 have been displaced, with damages in the tens of billions of dollars. In the aftermath, there is hope, as the cultural and spiritual barriers that have divided Christians from the greater Japanese society are weakening.</p>

<p>It is in one of the hardest hit areas, that Bri, a former ESL teacher, is ministering to the Japanese as she shows and teaches about God through conversational English classes and cooking classes.
</p>

<p>For more information and to give, <a href="https://www.worldventure.com/explore/details-people.php?name=bri-sample&id=a5OF00000004JZEMA2">click here</a>. </p>

<br><br>

			      <h3>Contact Information</h3>

			      <p>
			        <strong>Carisa Cruz</strong><br>
			          <a href="#">gmt@alcf.net</a>
			      </p>
               </div>
			
             </div>		        
          </div>
        </div>
      </div>
    </div>



<!-- Home of New Beginnings ----------------------------->  
<!------------------------------------------------------->  
  
     <div class="modal fade" id="new-beg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header" style="background-image: url('../assets/images/modal_GMT_HNB_tablerunners.jpg'); background-position: center center; background-size: cover; height: 200px; ">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

             <h2>Home of New Beginnings (Bangkok, Thailand),<br> Roy and Bonita Thompson </h2>
           </div>
           <div class="modal-body">
             <div class="row">
               <div class="col-md-5 col-lg-5">
	              <p>Home of New Beginnings (HNB) offers these women hope by welcoming them into a Christ-centered, family-oriented residential program where they are able to heal (counseling support and medical care); learn of God’s great love for them and His plan for their future; gain access to educational and vocational programs, life skills courses, and Bible classes. In addition, HNB offers free English classes and hosts an annual Christmas banquet. Residents make crafts to raise awareness and support. (Table runners are available for sale in the ALCF Resource Center.)</p>


<br><br>

			      <h3>Contact Information</h3>

			      <p>
			        <strong>Carisa Cruz</strong><br>
			          <a href="#">gmt@alcf.net</a><br>
			          <a href="http://www.homeofnewbeginnings.com/about.html">http://www.homeofnewbeginnings.com/about.html</a>
			      </p>

               </div>
               <div class="col-md-5 col-lg-5">
	              
<iframe width="500" height="300" src="https://www.youtube.com/embed/BvAn5v5V77I" frameborder="0" allowfullscreen></iframe>
<br><br>

<p>Related Article: <a href="http://travel.cnn.com/bangkok/none/us-missionaries-target-tough-sell-bangkok-bar-girls-167479">http://travel.cnn.com/bangkok/none/us-missionaries-target-tough-sell-bangkok-bar-girls-167479</a></p>

               </div>
			
             </div>		        
          </div>
        </div>
      </div>
    </div>



  </template>



  <script>
    Polymer({
      is: "alcf-modals"
    });
  </script>
  
</dom-module>
