<link rel="import"
      href="../bower_components/polymer/polymer.html">


<dom-module id="alcf-sitemap">
 

  <template>
    <footer>

	      <div class="container" style="padding-left: 0; width: 100%;">
	      
	        <div class="row" style="padding: 20px 0;">	        
	          <div class="col-md-6 col-lg-6" style="padding-left: 0;">
		        <small>2440 Leghorn Street<br>
                Mountain View, CA 94043<br></small>
                <strong>(650) 210-9340</strong>    
	          </div>              
              <div class="col-md-6 col-lg-6" style="padding-left: 0; text-align: right;">
	            <form class="w-clearfix hero-cta-form" id="wf-form-Newsletter" name="wf-form-Newsletter" data-name="Newsletter" style="position: relative; right: -15px;">
                  <input class="w-input field" type="email" placeholder="Enter your email for weekly updates" name="email" data-name="Email" required="required">
                  <input class="w-button button hero-button" type="submit" value="Subscribe" data-wait="Please wait...">
                </form>

              </div>              

            </div>  
	        
	        <div class="row sitemap" style="padding: 20px 0 0 0;">
	          <div class="row" style="padding-left: 0; padding-bottom: 0;">
			    <div class="col-md-2 col-lg-2" style="padding-left: 0;">
			      <h5>Visit</h5>
				  <ul>
					<li><a href="#">Sunday Morning Worship</a></li>
					<li><a href="#">Exploring Membership</a></li> 
					<li><a href="#">About ALCF</a></li>
					<li><a href="#">Staff</a></li> 
				  </ul>  
			    </div> 
	            <div class="col-md-2 col-lg-2" style="padding-left: 0; padding-bottom: 5px;">
	              <h5>Connect</h5>
	              <ul>
					<li><a href="#">Corporate Prayer &amp; Worship</a></li>
					<li><a href="#">Growth Groups</a></li> 
					<li><a href="#">Children</a></li>
					<li><a href="#">Student Ministries</a></li>
					<li><a href="#">Fellowship Groups</a></li>
					<li><a href="#">Recovery/Support Groups</a></li>
					<li><a href="#">WSM</a></li>
					<li><a href="#">Evangelism and Local Outreach</a></li>
					<li><a href="#">Community Involvement</a></li>
					<li><a href="#">International Partners</a></li>
					<li><a href="#">Events at ALCF</a></li>
				  </ul>  
	            </div> 
	            <div class="col-md-2 col-lg-2" style="padding-left: 0; padding-bottom: 5px;">
	              <h5>Care</h5>
	              <ul>
		            <li><a href="#">One-to-One Support</a></li>
		            <li><a href="#">Recovery/Support Groups</a></li>
		            <li><a href="#">ALCF-Hosted Events</a></li>

	              </ul>
	            </div> 
	            <div class="col-md-2 col-lg-2" style="padding-left: 0; padding-bottom: 5px;">
	              <h5>Learn</h5>
	              <ul>
		            <li><a href="#">Messages</a></li>
		            <li><a href="#">Classes@ALCF</a></li>
	              </ul>
	            </div>   
			    <div class="col-md-2 col-lg-2" style="padding-left: 0; padding-bottom: 5px;">
			      <h5>Volunteer</h5>
			      <ul>
				    <li>WSM</li>
				    <li>Children &amp; Youth</li>
				    <li>Outreach</li>  
			      </ul>
			    </div> 
	            <div class="col-md-2 col-lg-2" style="padding-left: 0; padding-bottom: 5px;">
	              <h5>Give</h5>
	              <ul>
		            <li>myalcf</li>
	              </ul>
	            </div>  	            
              </div>  
	        </div>            
	
	
	        <div class="row" style="padding: 20px 0 0 0;">
		      <div class="col-md-6 col-lg-6" style="padding-left: 0;">              
	            <small>&copy; 2015 Abundant Life Christian Fellowship</small>
	          </div>
	          
	          <style>
		            #soc-media-footer li a {
						 border: 1px solid #FFF;
						 border-radius: 50px;
						 padding: 8px 10px 5px 10px;
						 text-align: center;
						 font-size: 65%;
						 position: relative;
						 display: block;
					  }
					
					  
					  #soc-media-footer li a:hover {
						background: rgba(255,255,255,0.2);
					    color: #FFF;
					    text-decoration: none;
					  }
	          </style>
	          
	          <div class="col-md-6 col-lg-6" style="text-align: right;">
	            <ul id="soc-media-footer" class="ss-icon">
		            <li><a href="https://www.facebook.com/ALCF">&#xF610;</a></li>
		            <li><a href="https://twitter.com/alcf">&#xF611;</a></li>
		            <li><a href="https://www.instagram.com/alcf_mv/">&#xF641;</a></li>
		            <li><a href="https://www.youtube.com/user/alcf">&#xF630;</a></li>
		            <li><a href="http://bryanloritts.tumblr.com/">&#xF620;</a></li>
	            </ul>
	          </div>
	        </div>
	
	      </div>

      </footer>
  
  
  </template>



  <script>
    Polymer({
      is: "alcf-sitemap"
    });
  </script>
  
</dom-module>